:root {
    --app-bg-color: white;
    --app-color: #222;
    --shadow-color: hsla(210, 40%, 52%, 0.4);
    --btn-color: black;
    --btn-bg-color: #9ca8b1;
    --buble-color: white;
    --decoy-bg-color: #b19e9c;
    --playing-bg-color: #9cb1a5;
    --frame-bg-color: #c0ced9;
    --border-color: #0b4863;
}
